# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
**/.venv/

# Jupyter
.ipynb_checkpoints/

# Temp and debug files
**/temp/
**/debug/
**/_old/

# Large and private files
dataset_*
**/people.txt